<body>
  <br><br>
  <h4 class="logintitle"><b>LOGIN AREA SERVER</b></h4>
  <br>
  <form [formGroup]="loginForm" (submit)="login()" class="login">
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input formControlName="username" matInput placeholder="Username">
      <mat-icon matSuffix>account_circle</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input formControlName="password" type="password" matInput placeholder="Password">
      <mat-icon matSuffix>fingerprint</mat-icon>
    </mat-form-field>
    <br>
    <button mat-raised-button class="logintitle" type="submit">ACCEDI</button>
  </form>
</body>