
    <router-outlet></router-outlet>
    <br><br><br><br><br>
    <div class="container">
      <div class="row">
        <h1>PIPERDIFE</h1>
        <div class="col-lg-12 col-sm-12">
          <button #firstButton routerLink="/formulari">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../assets/icons/png/gradient@2x/letter.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">INVIO QUARTECOPIE</p>
              </div>
            </div>
          </button>
          <button routerLink="/cassoni">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../assets/icons/png/gradient@2x/browser.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">GESTIONE CASSONI</p>
              </div>
            </div>
          </button>
          <button routerLink="/login">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../assets/icons/png/gradient@2x/laptop.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">ACCESSO SERVER</p>
              </div>
            </div>
          </button>
          <button routerLink="/login">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../assets/icons/png/gradient@2x/tactics.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">PLANNING</p>
              </div>
            </div>
          </button>
          <button routerLink="/login">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../assets/icons/png/gradient@2x/bank.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">ALTRA WEBAPP</p>
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>

